<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Glorius</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="{% url 'home' %}">
        <span class="text-warning" style="font-size: 1.2em; margin-left: 8px"
          >Glor</span
        ><span>ius</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'store' %}">Store</a>
          </li>
        </ul>

        <div class="d-flex my-2 my-lg-0">
          <a href="#" class="btn btn-warning me-2">Login</a>

          <a href="{% url 'cart' %}" class="me-2">
            <img id="cart-icon" src="{% static 'images/Cart2.png' %}" />
          </a>
          <p id="cart-total" class="me-2">0</p>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <footer>
      <div class="footercontainer">
        <di class="social-icons">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-google-plus"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
        </di>
        <div class="footerNav">
          <ul>
            <li class=""><a href="">Legal</a></li>
            <li class=""><a href="">Coockies</a></li>
            <li class=""><a href="">Privacy</a></li>
            <li class=""><a href="">Shipping</a></li>
            <li class=""><a href="">Refounds</a></li>
          </ul>
        </div>
      </div>
      <div class="footerBottom">
        <p>
          Copyright &copy; 2023; Designed by
          <span class="designer">Glorius</span>
        </p>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<!-- <div class="social-icon-container">
  <a href="" class="social-icon"></a>
  <a href="" class="social-icon"></a>
  <a href="" class="social-icon"></a>
  <a href="" class="social-icon"></a>
</div>
<ul class="footer-menu-container">
  <li class="menu-items">Legal</li>
  <li class="menu-items">Coockies</li>
  <li class="menu-items">Privacy</li>
  <li class="menu-items">Shipping</li>
  <li class="menu-items">Refounds</li>
</ul>
<span class="copyright">&coppy;2023, Glorius, All rights reserved</span> -->
