* {
  font-family: montserrat;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

/* ---Navbar--- */

.section-padding {
  padding: 100px 0;
}

.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-light .navbar-brand {
  color: black;
  font-size: 25;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: black;
}

.navbar-light .navbar-brand .navbar-link {
  color: black;
}

.w-100 {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 0%, 30%);
}

.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 10px;
}

.thumbnail {
  width: 100%;
  height: 200px;
  -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
  border-radius: 0 0 4px 4px;
}

.bg-light {
  background-color: #eaeaea !important;
}

#cart-icon {
  width: 40px;
  display: inline-block;
  vertical-align: middle; /* Alinea verticalmente con otros elementos */
  margin-left: 6px;
}

#cart-total {
  display: inline-block; /* Cambiado a inline-block para poder ajustar márgenes */
  margin-left: -11px; /* Ajusta el margen a la izquierda para acercarlo al icono */
  margin-top: -4px;
  color: #fff;
  background-color: red;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 25px; /* Ajusta la altura de línea para centrar verticalmente el número */
  text-align: center;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
  margin-top: 10px;
}

.btn {
  border-radius: 0;
}

.row-image {
  width: 100px;
}

.form-field {
  width: 250px;
  display: inline-block;
  padding: 5px;
}

.cart-row {
  display: flex;
  align-items: flex-stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.quantity {
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}

.chg-quantity {
  width: 12px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  transition: 0.1s;
}

.chg-quantity:hover {
  opacity: 0.6;
}

.hidden {
  display: none !important;
}

/* Navbar Responsive CSS */

@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
}

/* Footer */

footer {
  padding-top: 10px;
  background-color: black;
}

.footerContainer {
  width: 100%;
  padding: 70px, 30px, 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  background-color: #fff;
  margin: 15px;
  border-radius: 50%;
}

.social-icons a i {
  font-size: 2em;
  color: #000;
  opacity: 0, 9;
}

/* hover efefcts */

.social-icons a:hover {
  background-color: #111;
  transition: 0.5;
}

.social-icons a:hover i {
  color: white;
  transition: 0.5;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a {
  color: white;
  margin: 30px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: black;
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: white;
}

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
/* Responsive footer */

@media only screen and (max-width: 767px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
